bump2version==1.0.0
numpy==1.18.5
scipy==1.4.1
matplotlib==3.2.2
sphinx==3.1.0
sphinx_rtd_theme==0.4.3
PySide2==5.15.0
pyvisa==1.10.1
git+git://github.com/byucamacholab/thorlabs-kinesis
# pywin32==228
# nicelib==0.6
# matplotlib
# instrumental-lib
# opencv-python
# Pillow