appdirs==1.4.4
bump2version==1.0.0
numpy>=1.21.5
scipy>=1.7.3
matplotlib>=3.5.1
pydantic==1.8.2
PySide2==5.15.0
keyboard==0.13.5
isort==5.10.1
pytkdocs[numpy-style]
mkdocs-material==8.1.10
mkdocstrings==0.18.0
pyrolab==0.2.1
pynput==1.7.6
PyVISA==1.13.0
PyVISA-py==0.7.0