<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Thorlabs.MotionControl.Kinesis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Kinesis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="KinesisUpdateOptionList" value="Log Diagnostics|Time Diagnostics|" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Verbose" value="false" />
    <add key="LogFileCount" value="10" />
    <add key="LogBufferLimit" value="1000" />
    <add key="ErrorBufferLimit" value="100"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <Thorlabs.MotionControl.Kinesis.Properties.Settings>
      <setting name="MRU_Size" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MRU_List" serializeAs="String">
        <value />
      </setting>
      <setting name="LogFileLimit" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LogBufferLimit" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ErrorBufferLimit" serializeAs="String">
        <value>100</value>
      </setting>
    </Thorlabs.MotionControl.Kinesis.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>